/nbproject/private/
/build/
/input-data/bicycle/
/input-data/PNW-data/
/log/
/dist/
output-data/
output/
output2/
/bin/

/.idea
/out
/.DS_store
/yrw-epos.iml
/target
/dependency-reduced-pom.xml

/result_processing/node_modules
/result_processing/package-lock.json
/result_processing/logs/*
/result_processing/result/*

tutorial.iml